
<div>
  <h1><%= @listing.title %></h1>
  <p>Price: <%= @listing.price %></p>
  <p>Location: <%= @listing.location %></p>
  <p>Zip Code: <%= @listing.zipcode %></p>
  <div>Description: <%= @listing.body %></div>
  <p>Contact: <%= @listing.contact %></p>
</div>

<div>
   <%= image_tag @listing.image.url %>
</div>

<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 34.052235, lng: -118.243683};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDppilg0C6Pn-tR7yGRxaTe49T9krqLtYE&callback=initMap">
    </script>
