<header class="header navbar navbar-fixed-top">
  <div class="container-fluid">
    <img id="logo" src="assets/kalyxlogo.png" />
    <nav>
      <ul class="d-flex flex-row nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Signup", signup_path %></li>
        <li><%= link_to "Add Listing", listing_add_path %></li>
        <li><%= link_to "View Listings", listings_path %></li>
      </ul>
    </nav>
  </div>
</header>
